*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: helvetica;
}

.header {
	color: white;
	height: 70px;
	background-color: rgb(100,170,100);
	width: 100%;
}

.brand{
	display: inline-block;
	font-size: 1.5em;
	padding-top: 0.8em;
}

.menu__wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

.menu{
	float: right;
}

.menu-item {
	display: inline-block;
	text-decoration: none;
	padding: 1.5em;
}

a {
	text-decoration: none;
}

.login-btn {
	border: 1px solid black;
	padding: 0.5em;
	margin-top: 6px;
	background-color: rgb(50,50,50);
	border-radius: 5px;
	color: white;
}

.login-btn:active {
	color: white;
}

.login-btn span {
	position: relative;
	top: -9px;
}

.main__container{
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.dashboard{
	padding-top: 70px;
	height: 140px;
}

.dashboard__heading{
	font-size: 2.5em;
}

.poll {
	background-color: rgb(200,250,200);
  padding: 20px;
  border-radius: 10px;
}

.poll__heading {
  font-size: 2em;
}

.poll__item {
  height: 40px;
  width: 100%;
  padding-top: 1.5em;
  margin-top: 1em;
  border: solid rgb(150,250,150) 1px;
  background-color: rgb(240,240,240);
}

button {
	padding: 1em;
	background-color: rgb(220,220,220);
	margin: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 1px 3px rgb(50,100,100);
}

button:focus {
	outline: none;
}

.logout-btn {
	position: relative;
	top: 25px;
	color: white;
}

/* new poll specific */

.new-poll__options {
	resize: none;
	width: 100%;
	height: 200px;
	padding: 0.5em;
}

.new-poll__title {
	width: 100%;
	padding: 0.5em;
}

.new-poll__form {
	margin-top: 50px;
	width: 100%;
	height: 500px;
	line-height: 30px;
}

.new-poll__heading {
  font-size: 2em;
  margin-top: 50px;
}