*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: helvetica;
}

.header {
	color: white;
	height: 70px;
	background-color: grey;
	width: 100%;
}

.brand{
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 0.8em;
}

.menu__wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

.menu{
	float: right;
}

.menu-item {
	display: inline-block;
	text-decoration: none;
	padding: 1.5em;
}